@font-face {
	font-family: "Jost";
	src: url("/jost.ttf");
}

html,
body,
body > div:first-child,
div#__next {
	font-family: "Jost", sans-serif;
	height: 100%;
}

div#__next {
	display: flex;
	flex-direction: column;
	position: relative;
}
